body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eef1f5;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 100%;
    max-width: 400px;
}

.form-box {
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    text align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
}

a {
    co;or: #007BFF;
    cursor: pointer;
    text-decoration: none;
}